.form {
    height: 40%;
}

.title {
    margin-top: 50px;
    padding-left: 25px;
    font-size: 1.25rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.formContent {
    border: 1px solid #000;
    height: 40%;;
    margin-top: 30px;    
    margin-left: 75px;
    margin-right: 75px;
}

.label {
    margin-top: 8px;
}

.textbox {
    margin-top: 7px;
    height: 50%;
}

.formButton {
    border: 1px solid #000;
    height: 50px;
    margin-left: 75px;
    margin-right: 75px;    
}

.clearButton {
    background-color: #20bf6b;
    border: 2% outset;
    float: left;    
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 20px;
    margin-top: 20px;
}

.addButton {
    background-color: #20bf6b;
    border: 2% outset;
    float: right;    
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1rem;
    margin-right: 20px;
    margin-top: 20px;
}

.first, .second, .third {    
    border: 1px solid #000;
    height: 41px;
}

.idDiv, .nameDiv, .addressDiv {    
    border: 1px solid #000;
    float: left;
    height: 100%;
    width: 25%;
    padding-left: 15px;    
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.1rem;   
    text-align: justify;     
}

.className {
    padding-top: 15px;
    height: 70%;
}

.idValue, .nameValue, .addressValue {
    /* border: 1px solid #000; */
    float: right;
    height: 100%;
    width: 71.35%;
    padding-left: 20px;    
}